:root {
  --doc-helper-primary-color: #3a30ba;
  --doc-helper-text-color: #1c293b;
  --doc-helper-border-color: oklch(92.9% 0.013 255.508);
  --doc-helper-background-color: oklch(96.8% 0.007 247.896);
  --doc-helper-copied-color: oklch(79.5% 0.184 86.047);
}

.doc-helper {
  color: var(--doc-helper-text-color);
  font-size: 16px;
  font-weight: 400;

  &__container {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @media (min-width: 960px) {
      flex-direction: row-reverse;
    }
  }

  &__toc {
    @media (min-width: 960px) {
      width: 250px;
      min-width: 250px;
    }

    ul {
      max-height: calc(100vh - 2rem);
      overflow-y: auto;
      position: sticky;
      top: 1rem;
      list-style: none;
      border: 1px solid var(--doc-helper-border-color);
      padding: 20px 12px 20px 10px;
      border-radius: 8px;
    }

    &-item {
      cursor: pointer;
      padding-top: 6px;
      padding-bottom: 6px;
      font-weight: 600;
      display: flex;
      gap: 4px;
      font-size: 15px;
    }
    &-nested {
      font-size: 90%;
      font-weight: normal;
    }
  }

  &__anchor {
    color: initial;
    text-decoration: underline transparent;
    border: none;

    .doc-helper__icon {
      position: absolute;
      left: -23px;
      color: #ddd;
      opacity: 0;
    }

    &:hover {
      text-decoration-color: var(--doc-helper-border-color);

      .doc-helper__icon {
        // opacity: 1;
      }
    }
  }

  &__title {
    border-left: 3px solid var(--doc-helper-primary-color);
    padding-left: 10px;
  }

  &__tag {
    border-radius: 50px;
    background-color: var(--doc-helper-background-color);
    font-weight: 600;
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;

    &s {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 16px;
    }

    &:not(.doc-helper__tag--sm) {
      padding: 8px 16px;
      font-size: 14px;
    }

    &--sm {
      padding: 4px 8px;
      font-size: 12px;
    }

    &-copy {
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      display: flex;
      font-size: inherit;
      pointer-events: none;

      &--active {
        color: var(--doc-helper-copied-color);
      }
    }
  }

  &__body {
    min-width: 0;

    p {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: 1.5;
      margin-bottom: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--doc-helper-text-color);
      line-height: 1.3;
      margin-bottom: 12px;
      margin-top: 48px;
    }

    h1 {
      font-size: 34px;
      font-weight: 600;
    }
    h2 {
      font-size: 28px;
      font-weight: 600;
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
    h5 {
      font-size: 14px;
      font-weight: 600;
    }
    h6 {
      font-size: 12px;
      font-weight: 600;
    }

    /*.rich-content div > code,*/
    /*.rich-content table code,*/
    /*.rich-content blockquote code {*/
    /*  @apply bg-red-50/60 px-1 py-[1px] rounded text-[90%] border border-red-200 text-red-500 font-medium shadow-[0_1px_1px_0_rgb(0,0,0,.1)];*/
    /*}*/

    code:not(.doc-helper__code-block code) {
      background-color: var(--doc-helper-background-color);
      padding: 1px 4px;
      border-radius: 4px;
      border: 1px solid var(--doc-helper-border-color);
      font-weight: 500;
      box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.1);
    }

    b,
    strong {
      color: inherit;
      font-weight: 700;
    }
    a:not(.doc-helper__anchor) {
      position: relative;
      border-bottom: 2px solid var(--doc-helper-border-color);
      text-decoration: none;
      color: var(--doc-helper-primary-color);

      &:hover {
        border-color: var(--doc-helper-primary-color);
      }
    }
    .ql-indent-1 {
      padding-left: 12px;
    }
    .ql-indent-2 {
      padding-left: 24px;
    }
    .ql-indent-3 {
      padding-left: 4.5rem;
    }
    .ql-indent-4 {
      padding-left: 48px;
    }
    ol,
    ul {
      padding-left: 24px;
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
        list-9;

      li {
        margin-bottom: 12px;
      }

      > li,
      > li {
        list-style-type: none;
      }

      &:not(.ql-direction-rtl)::before {
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
      }

      &::before {
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
      }

      li.ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 3em;
      }
    }

    ol {
      li {
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
          list-9;
        counter-increment: list-0;
      }
      li.ql-indent-1 {
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      }
      li:before {
        content: counter(list-0, decimal) '. ';
      }
      li.ql-indent-1 {
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
      }
      li.ql-indent-1 {
        counter-increment: list-1;
      }
      li.ql-indent-1:before {
        content: counter(list-1, lower-alpha) '. ';
      }
    }
    ul {
      > li:before {
        content: '\2022';
      }
    }

    blockquote {
      padding: 8px;
      border-left: 1px solid var(--doc-helper-primary-color);
      background-color: var(--doc-helper-background-color);
      border-radius: 12px;
      font-size: 18px;
      font-weight: 500;
      color: inherit;
      font-style: italic;
    }
  }

  &__code {
    background-color: var(--doc-helper-background-color);
    border-radius: 10px;
    border: 1px solid var(--doc-helper-border-color);
    overflow: hidden;
    margin-bottom: 24px;

    &-filename {
      padding: 6px 10px;
    }

    &-block > div {
      border-radius: 0px;

      > button {
        border: 1px solid var(--doc-helper-border-color);
        color: var(--doc-helper-text-color);
        cursor: pointer;

        &:hover {
          color: var(--doc-helper-primary-color);
        }

        &:focus {
          border-color: var(--doc-helper-copied-color);

          svg {
            fill: var(--doc-helper-copied-color) !important;
          }
        }
      }
    }
  }

  &__table {
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid var(--doc-helper-border-color);
    border-radius: 8px;
    background-color: var(--doc-helper-background-color);

    table {
      width: 100%;
      border-collapse: collapse;

      thead th {
        border-bottom: 1px solid var(--doc-helper-border-color);
        font-weight: 500;
        text-align: left;
        padding: 16px 24px;
      }
      tbody {
        background-color: #fff;

        tr {
          &:not(:last-child) td {
            border-bottom: 1px solid var(--doc-helper-border-color);
          }

          td {
            font-weight: 500;
            text-align: left;
            padding: 16px 24px;
          }
        }
      }
    }
  }

  &__children {
    margin-top: 16px;
  }
}
